<!DOCTYPE html>
<html>
<head>
<title>Emotion AI</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="navbar">
<h2>Emotion AI</h2>
</div>

<div class="home">

<h1>AI Emotion Detection</h1>
<p>Detect human emotions using Image or Video</p>

<div class="cards">

<a href="/image">
<div class="card">
<h2>🖼 Image Detection</h2>
<p>Upload an image and detect facial emotions</p>
</div>
</a>

<a href="/video">
<div class="card">
<h2>🎥 Video Detection</h2>
<p>Upload a video and detect emotions frame by frame</p>
</div>
</a>

</div>

</div>

<footer>
Script named app created by Anjali and Deepu
</footer>

</body>
</html>